button {
    background-color: var(--clr-dark-green);
    color: var(--clr-lightest);
    border: 3px solid var(--clr-green);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;

    &:hover {
        opacity: 0.8;
    }
}

/* sort */
.sort-button {
    padding-block-end: 0;

    &[disabled] {
        pointer-events: none;
        opacity: 0.5;
    }
}
