.summary {
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 2rem;
}

.details {
    position: relative;

    --_content-max-width: 66rem;
    --_content-space-outside: 2rem;

    width: min(var(--_content-max-width), 100% - var(--_content-space-outside) * 2);
    margin-inline: auto;

    & .details-content {
        background-color: var(--header-footer-bg);
        border: 0.2rem solid var(--header-footer-border);

        padding: 1rem 2rem 4rem;

        & p,
        & li {
            text-align: left;
        }

        .close-button {
            padding-top: 1.5rem;
        }
    }
}
